<div>

  <!-- nome: "", 
		name: "string",
		geomtry: "any",
		area: 1,
		centroid: [0],
		creation_date: new Date(),
		owner: this.mockOnwer
    -->

  <div>
    <label for="name">
      nome
    </label>
    <input id="name" type="text" [(ngModel)]="fazenda.name">
  </div>

  <div>
    <label for="address">
      area
    </label>
    <input id="address" type="text" [(ngModel)]="fazenda.area">
  </div>

  <div>
    <label for="address">
      centroide
    </label>
    <input id="address" type="text" [(ngModel)]="fazenda.centroid">
  </div>

  <div>
    <label for="address">
      geometria
    </label>
    <input id="address" type="text" [(ngModel)]="fazenda.geomtry">
  </div>

  <button class="button" (click)="onSubmit()">Salvar</button>

</div>